.blog_container{
   
    display: grid;
    grid-template-columns: repeat(3, 44rem);
    margin-left: 3rem;
    justify-content: center;

     @include respond(middle-desktop-max) { // width < 1450px
       margin-left: 0rem;
       grid-template-columns: repeat(3, 38rem);
        }
        @include respond(tab-port) { // width < 900px
        margin-left: 15rem;
        
       grid-template-columns: repeat(1, 58rem);
           
        }
         @include respond(small-view) { // width < 900px
        margin-left: 23rem;
           
        }

}

.blog__box{
    display: grid;
    grid-gap: 2rem;
     margin-bottom: 4rem;

     @include respond(middle-desktop-max) { // width < 1450px
      width: 35rem;
      grid-gap: 0rem;
        
        }
        @include respond(tab-port) { // width < 1450px
       width: 48rem;
        }
        @include respond(small-view) { // width < 1450px
        width: 35rem;
        }

    
    &--img{
        overflow: hidden;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        max-width: 40rem;
        cursor: pointer;

    &-pictures{
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        width: 40rem;
        box-sizing: border-box;
        border: 0;
        display: inline-block;
        transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    &:hover{
         -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    }
    &--type{
        margin-top: 1rem;
        font-size: 1.5rem;
        color: $color-4;

    }
    &--title{
        padding-right: 5rem;
        font-size: 2.2rem;
        color: $color-5;

    }
    &--date{
        font-size: 1.6rem;
        color: $color-5;
    }
    &--read-more{
        display: grid;
     border-bottom: 1px solid #dbdada;
     font-weight: 500;
     font-size: 1.6rem;
     color: $color-black;
     transition: all 0.2s;
     cursor: pointer;
    }
}