.portfolio-content{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10rem;

    
    background-color: $color-1;
    height: 124.5rem;

    @include respond(tab-land) { // width < 900px
            height: 110rem;
        }
        @include respond(phone-middle) { // width < 750px
           height: 100rem;
        }
        @include respond(phone) { // width < 750px
           height: 90rem;
        }
        @include respond(small-view) { // width < 750px
           height: 80rem;
        }

     
}

.portfolio_C{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 6rem;
    margin-bottom: 10rem;
   

    display: grid;
    grid-template-columns: 88rem;
    grid-template-areas: 
    "a   b "
    "s   b  "
    "d   b ";
    


    overflow: hidden;
    box-sizing: border-box;

     @include respond(middle-desktop-max) { // width < 1450px
      grid-template-columns: 58rem;
    margin-left: 2rem;
      margin-right: 0rem;
     }
      @include respond(tab-land) { // width < 1200px

        grid-template-areas: 
        "t t t t"
        "g g g g"
        "v v v x";
            text-align: center;
           width: 160%;
           margin-top: 1rem;
            align-self: center;
            justify-content: center;  
            align-items: center;
            margin-left: 0rem;
            margin-bottom: 20rem;
      
        }

        @include respond(tab-port) { // width < 900px
            width: 150%;
        }
        @include respond(phone-middle) { // width < 750px
            width: 160%;
            margin-bottom: 10rem;
        }
        @include respond(phone) { // width < 600px
            width: 160%;
        }
         @include respond(phone-small) { // width < 450px
            width: 246%;
        }
         @include respond(small-view) { // width < 600px
            width: 280%;
        }
         @include respond(mini-view) { // width < 600px
            width: 310%;
        }


    &--label{
         grid-area: a;
        padding: 1rem;
        width: 14rem;

        justify-self: left;
        text-align: center;
        border-radius: 10px;
        color: $color-white;
        font-size: 1.55rem;

         @include respond(tab-land) { // width < 1200px
            grid-area: t;
            height: 4rem;
            margin-bottom: 22rem;
            margin-left: 3rem;
          
          }
           @include respond(phone-small) { // width < 1200px
             margin-left: -9rem;
            
          }
          @include respond(small-view) { // width < 600px
             margin-left: -11rem;
            }
    }

    &--title{
         grid-area: s;
        margin-top: 2rem;
        line-height: 1.4;
        width: 50rem;
        font-size: 4.4rem;
        color: $color-5;
        font-weight: 600;
         @include respond(tab-land) { // width < 1200px
        grid-area: t;
        line-height: 1.4;
        font-size: 4rem;
        margin-bottom: 12rem;
        margin-left: -13rem;
        }
        @include respond(phone) { // width < 600px
          font-size: 3.3rem;
        }
        @include respond(phone-small) { // width < 450px
            font-size: 2.5rem;
            width: 35rem;
            line-height: 1;
            margin-left: -19.5rem;
            
        }
        @include respond(small-view) { // width < 350px
           margin-left: -21.5rem;
            font-size: 2.2rem;
           
        }
    }

    &--text{
        grid-area: d;
        margin-top: 1rem;
        margin-bottom: 10rem;

        color: $color-3;
        width: 50rem;
        font-size: 1.8rem;
         @include respond(tab-land) { // width < 1200px
            grid-area: t;
            margin-left: -13rem;
            margin-top: 14rem;
        }
        @include respond(phone) { // width < 600px
            width: 35rem;
            margin-left: -6rem;
        
        }
        @include respond(phone-small) { // width < 600px
            font-size: 1.6rem;
            margin-left: -20rem;
        }
        @include respond(small-view) { // width < 600px
           font-size: 1.4rem;
           margin-left: -18rem;
           width: 28rem;
           
        }
    }

    &__graph{
        display: grid;
        grid-column: 1;
        justify-content: left;
        grid-area: b;
        
        margin-top: 8rem;
        grid-template-columns: 10rem 15rem 10rem;  
        
        @include respond(tab-land) { // width < 1200px
            grid-area: g;
            margin-top: -5rem;
            margin-left: -7rem;
            height: 4rem;
            margin-bottom: 10rem;
            
     }

     @include respond(phone-small) { // width < 600px
           grid-template-columns: 10rem 10rem 10rem;
           margin-left: -18rem;
        }
        @include respond(small-view) { // width < 600px
            grid-template-columns: 9rem 9rem 9rem;
        }

        &--name{
            margin-bottom: 1rem;
           color: $color-5;
            font-size: 2rem;
            font-weight: 600;
        }

        &--description{
            font-size: 1.6rem;
           color: $color-3;
        }
   
    }

     &--img{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 125rem;
    max-height: 70.5rem;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    

    @include respond(middle-desktop-max) { // width < 1450px
            margin-left: 0rem;
            
            width: 110rem;
        }

       @include respond(tab-land) { // width < 1200px
            grid-area: v;    
            justify-content: center;
            align-items: center;
            margin-left: 2rem;
            transform: translateX(-35rem);
            width: 90rem;
             
           
        }
         @include respond(tab-port) { // width < 900px
            width: 80rem;
             transform: translateX(-30rem);
            margin-left: 0rem;
           
        }
        @include respond(phone-middle) { // width < 900px
            width: 70rem;
             transform: translateX(-24rem);
            margin-left: 0rem;
        }
        @include respond(phone) { // width < 900px
            width: 60rem;
             transform: translateX(-20rem);
        }
         @include respond(phone-small) { // width < 900px
            width: 50rem;
             transform: translateX(-31.5rem);
        }
        @include respond(small-view) { // width < 900px
            width: 40rem;
             transform: translateX(-28rem);
           
        }
    }
}

.link{
    text-decoration: none;
    cursor: pointer;
    color: $color-blue;
}

