.page-portfolio{
     margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    
    background-color: $color-1;
    height: 50rem;
}

.portfolio__container{
   
   margin-left: 10rem;
   margin-right: 10rem;
   
}

.portfolio__header{
     display: grid;
   align-items: center;
   justify-content: center;
     grid-template-rows: 20rem 3rem 28rem;
    
    
    justify-content: center;
    text-align: center;
    color: $color-5;
   
    
    
    &--title{
        line-height: 1.4;
        font-weight: 600;
        font-size: 4.5rem;
         padding: 35rem;
        

         @include respond(middle-desktop-max) { // width < 1450px
            font-size: 4rem;
            width: 120rem;
         }
         @include respond(tab-port) { // width < 1450px
            font-size: 3.5rem;
             width: 110rem;
         }
         @include respond(phone-small) { // width < 1450px
            font-size: 3rem;
            margin-left: 5rem;
            width: 100rem;
        }
        @include respond(small-view) { // width < 1450px
           margin-left: 0rem;
        }
        
    }

    &--text{
       color: $color-3;
        font-size: 1.75rem;
       padding: 38rem;

       @include respond(phone-small) { // width < 1450px
            width: 110rem;
        }
        @include respond(small-view) { // width < 1450px
            font-size: 1.6rem;
            width: 100rem;
        }
    }


}

.portfolio__shots{
    margin-top: 10rem;
    margin-left: -10rem;
    margin-right: -10rem;


     
   

    padding-bottom: 10rem;
    margin-bottom: 10rem;

     background-color: #e7538a1a;
     
    &--container{
        margin-left: 10rem;
        margin-right: 8rem;
        
        @include respond(phone) { // width < 350px
      
         margin-left: 5rem;
        }

        &-header{
            display: grid;
            grid-template-columns: 70rem 1rem;
            grid-gap: 40rem;

            padding-top:15rem;
            padding-bottom: 8rem;

            @include respond(tab-port) { // width < 900px
                 padding-top: 4rem;
                 margin-bottom: 5rem;
             }
            
            

            &__text{
                font-weight: 600;
                color: $color-5;
                font-size: 4.2rem;

                 @include respond(phone) { // width < 350px
                    font-size: 3rem;
                 }
                  @include respond(phone-small) { // width < 350px
                    margin-left: -4rem;
                    font-size: 2.5rem;
                 }
                 @include respond(small-view) { // width < 600px
                    font-size: 2rem;
                    padding-left: 1rem;
                 }
                
            }

            &__btn{
                text-decoration: none;
                align-items: center;
                padding-top: 1.8rem;
               width: 17rem;


               @include respond(middle-desktop-max) { // width < 1450px
                    margin-left: -50rem;
                    width: 17rem;
                 }


              @include respond(tab-port) { // width < 900px
                margin-top: 8rem;
                margin-bottom: -8rem;
                padding-bottom: 1.5rem; 
                margin-left: -100rem;
             }
             
             @include respond(phone) { // width < 600px
                    width: 14rem;
                    margin-left: -102rem;
                }
                 @include respond(phone-small) { // width < 600px
                    height: 5.5rem;   
                    margin-left: -105rem;
              }
              @include respond(small-view) { // width < 600px
                    margin-left: -106rem;
                 }

            }

        }

        &__img{
          
            
             
            &--box{
                 display: inline-block ;
                overflow: hidden;
               box-sizing: border-box;
               margin-right: 3.8rem;
                 max-width: 39.5rem;
                 cursor: pointer;
                 
                 @include respond(small-view) { // width < 600px
                    margin-left: -1.5rem;
                 }
            }
            

            &--pictures{
                border: 0;
                margin-bottom: 3.5rem;
                border-radius: 10px;
                width: 39.5rem;
                transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;

                 @include respond(phone) { // width < 350px
                    width: 30rem;
                 }
                  @include respond(phone-small) { // width < 350px
                    width: 25rem;
                 }
                

                &:hover{
                   -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     transform: scale(1.1);
                }
            }
        }

    }
}

.portfolio__else{
    margin-top: 2rem;
    margin-bottom: 10rem;
}
