
//// COLORSSS

$color-1: #d3e7ff;
$color-2: #8378be;
$color-3: #515491;
$color-4: #28c29d;
$color-5: #2d2369;

$color-blue: #4570e0;
$color-blue-light: #6590e0;

$color-grey: #575858;
$color-grey-mediam: #7e919c;
$color-grey-dark:#373747;
$color-black: #14121f;


$color-white: #fff;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT VARIABLES
$font-primary:  'Poppins',sans-serif;
$font-secondary: 'Lato', sans-serif;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html {
   
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px


    @include respond(phone) { // width < 600px
        font-size: 40%;
     }

     @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
      

}

body {
     background-color: $color-white !important;
    font-family: $font-primary;
    color: $color-grey;
    font-weight: light 300;
    line-height: 1.4;

     
    
    
}

hr{
   border-top: 0.5px solid #cfcfcf;
    margin-top: 15rem;
   position: static;
}

.container{
    font-size: 1.6rem;
    margin: 2rem;
    margin-bottom: 0;
    border-radius: 3px;
    
    z-index: 0;


     
    
    
    &__header{
        padding-bottom: 10rem;
        height: 96rem;
        background-color: $color-1;
       @include backgroundInclined;

      

       @include respond(phone-middle) { // width < 900px
       
       height: 140rem;        
        }
         @include respond(small-view) { // width < 450px
        height: 130rem
        }
    }

    
}

.btn{
     @include borderCornerLeft;

            background-color: $color-blue;
            color: $color-white;
            font-size:2rem;
            font-weight: 700;
            border: none;
            transition: all 0.3s;

            outline: none;
           

            &:hover{
            @include borderCornerRight;
            background-color: $color-blue-light;
            }
}

.btn-secondary{
                background-color: $color-white;
            
                @include borderCornerLeft;
                border: 1px solid $color-2;
                transition: all 0.2s;

                text-decoration: none;
                font-family: $font-primary;
                font-size: 1.7rem;
                font-weight: 600;
                width: 14.2rem;
                
                text-align: center;
                align-items: center;
                justify-content: center;
                color: $color-black;
                cursor: pointer;

                &:hover{
                    border-radius: 15px;
                }
}



.what-i-do{
    margin-left: 10rem;
    margin-right: 10rem;
    
    
}

.my-portfolio{
    
    margin-left: 10rem;
    margin-right: 10rem;

 
}

.about-me{
     @include backgroundInclined;
    overflow: none;
    background-color: $color-1;
    height: 96rem;

        
 
}

.testimonials{
     height: 70rem;
}

.icons{
  
    height: 18rem;
    background-color: rgba(40,194,157,.1);

    @include respond(tab-port) { // width < 900px
       height: 37rem;
        
        }
}

.my-blog{
    margin-left: 10rem;
    margin-right: 10rem;
     

    
}

//BLOG CONTENT

.content{
    margin-left: 31.5rem;
     margin-right: 31.5rem;
    color: $color-5;
     line-height: 1.3;

     margin-bottom: 25rem;

     @include respond(tab-land) { // width < 1200px
      margin-left: 0rem;
      margin-right: 0rem;
      
     }
     @include respond(tab-port) { // width < 900px
      width: 90rem;
      
     
     }
     @include respond(phone-middle) { // width < 750px
      width: 70rem;
      
     }
     @include respond(phone) { // width < 600px
      width: 55rem;
     }
     @include respond(phone-small) { // width < 450px
      width: 45rem;
     }
      @include respond(small-view) { // width < 350px
      width: 35rem;
     }

}


.margin{
    width: 80%;
  align-items: center;
   justify-content: center;
   text-align: center;
   justify-self: center;

    @include respond(phone-small) { // width < 450px
      width: 100%;
     }
      @include respond(small-view) { // width < 350px
      width: 110%;
     }

}


.app{
    
}