@mixin borderCornerLeft{

     border-bottom-left-radius: 15px;
     border-top-right-radius: 15px;
}

@mixin borderCornerRight {
     border-top-left-radius: 15px;
     border-bottom-right-radius: 15px;
}

@mixin borderCornerRight50 {
     border-top-left-radius: 50px;
     border-bottom-right-radius: 50px;
}

@mixin borderCornerLeft40{

     border-bottom-left-radius: 40px;
     border-top-right-radius: 40px;
}

@mixin backgroundInclined {
     
         clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 96%, /* right bottom */
    0% 99% /* left bottom */
         );
}

@mixin noneInclined {
     
         clip-path: none;
}

//1em == 16px

@mixin respond($breakpoint) {
      @if $breakpoint == mini-view {
        @media only screen and (max-width: 20.31em) { @content };    //350px
    }
      @if $breakpoint == small-view {
        @media only screen and (max-width: 23.5em) { @content };    //350px
    }
      @if $breakpoint == phone-small {
        @media only screen and (max-width: 28.12em) { @content };    //450px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == phone-middle {
        @media only screen and (max-width: 46.87em) { @content };    //750px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-port-min {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
     @if $breakpoint == middle-desktop-max {
        @media only screen and (max-width: 90.62em) { @content };    //1450px max
    }
     @if $breakpoint == middle-desktop {
        @media only screen and (min-width: 90.62em) { @content };    //1450px min
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}