.template{
   
   background-color: $color-1;
    height: 50rem;

   
   

    &__container{
        margin-left: 10rem;
        margin-right: 10rem;

        &--2{
            margin-top: 30rem;
            
        }
        
    }

    &__licenses{
        display: grid;
        
        grid-gap: 5rem;
        grid-template-columns: 13rem 20rem ;

         @include respond(phone) { // width < 600px
           margin-left: -10rem;
            grid-template-columns: 1rem;
            grid-gap: 3.5rem;
        }

        &--name{
            color: $color-5;
        }

        &--btn{
            text-decoration: none;
            padding: 1.5rem;
            padding-left: 3.5rem;
             padding-right: 3.5rem;
            margin: 2rem;
        }
        
    }

   &__heading{
       font-size: 4.5rem;
       margin-top: 10rem;
   }

   &__text{
       margin-top: -5rem;
       text-align: center;
   }

   &__date{
       color: $color-grey-dark;
       margin-top: 28rem;
       font-size: 1.9rem;
       font-weight: 600;
       margin-left: 10rem;

        @include respond(tab-land) { // width < 900px
       margin-left: 0rem;
       justify-content: center;
       text-align: center;

     }
   }


   &__styles-container{
       margin-top: 30rem;
       margin-left: 10rem;
        margin-right: 10rem;

        @include respond(phone) { // width < 600px
                
              margin-left: 0rem;
            }
            @include respond(phone-small) { // width < 450px
           
            }

        color: $color-5;

        &--name{
            font-weight: 600;
            font-size: 1.9rem;
        }

        &__colors{
            display: grid;
            grid-template-columns: 23rem 23rem 23rem 23rem 0rem;
            grid-gap: 3rem;
            margin-top: 5rem;
            margin-bottom: 6rem;
            
             @include respond(middle-desktop-max) { // width < 1200px
               grid-template-columns: 23rem 23rem 23rem 23rem;
               margin-left: -5rem;
            }
            
             @include respond(tab-land) { // width < 1200px
               grid-template-columns: 23rem 23rem 23rem ;
            }
            @include respond(tab-port) { // width < 900px
              grid-template-columns: 23rem 23rem 10rem;
            }
            @include respond(phone-middle) { // width < 900px
              grid-template-columns: 23rem 23rem;
            }
            @include respond(phone) { // width < 600px
            margin-left: 3rem;
              grid-template-columns: 23rem 10rem;
            }
            @include respond(phone-small) { // width < 450px
             grid-template-columns: 23rem;
             justify-content: center;
             margin-left: 0rem;
            }
            
            &--box{
                display: grid;
                
                height: 22rem;
                width: 24rem;
               
                border-top-right-radius: 50px ;
                border-bottom-left-radius: 50px ;
                
            }

            &--name{
                box-sizing: border-box;
                webkit-box-shadow: 0 10px 6px -6px rgb(197, 192, 192);
                -moz-box-shadow: 0 10px 6px -6px rgb(209, 208, 208);
                 box-shadow: 0 10px 6px -6px rgb(226, 226, 226);
                border-bottom-left-radius: 50px ;

                
                padding-top: 1rem;
               align-items: center;
                margin-top: 17rem;
                text-align: center;
                width: 24rem;
                height: 6rem;
                background-color: $color-white;
            }
        }

        &--headings{
            margin-top: 10rem;
            display: grid;
            grid-gap: 2rem;
            margin-bottom: 8rem;
        }

        &--buttons{
            
            
            margin-top: 7rem;
            margin-bottom: 7rem;

            &-width{
                margin-right: 2rem;
                padding: 1.5rem;
                width: 14rem;
            }
        }
   }
}



